:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
  --yt-color: rgb(229, 57, 53);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.article-title-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-title-section h2 {
  color: white;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
}

hr{
  color: aliceblue;
  height: 2px;
  width: 80%;
}
